.header {
    border-bottom: 2px solid black;
}
.header-inner {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.header-inner__logo-link {
    margin-right: 668px;
}
.header-innr__logo {
}
.header-right__inner-list {
    display: flex;
    gap: 60px;
    align-items: center;
}
.header-right__inner-item {
    list-style: none;
}
.header-right__inner-item:nth-child(3) {
    padding: 12px 20px;
    border: 3px solid black;
    border-radius: 4px;
}
.header-right__inner-link {
    color: black;
    text-decoration: none;
}
@media only screen and (max-width: 375px) {
    .header-inner {
        flex-direction: column;
    }
}